// imports

@import "../../g_raph_/css/12cols.css";
@import "../../g_raph_/css/html5reset.css";
@import "../../g_raph_/css/regions.css";
@import "../../g_raph_/css/styleguide.css";
// Dev CSS
@import "./kevin.less";
@import "./joachim.less";
@import "./jonas.less";

// fonts

@font-face {
  font-family: proxima_nova_excn_ltlight;
  font-style: normal;
  font-weight: normal;
  src: url('../font/proximanovaexcn-light-webfont.eot');
  src: url('../font/proximanovaexcn-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanovaexcn-light-webfont.woff') format('woff'), url('../font/proximanovaexcn-light-webfont.ttf') format('truetype'), url('../font/proximanovaexcn-light-webfont.svg#league_gothicregular') format('svg');
}

// vars - classes

@blue: #3993c0;
@orange: #ff9430;

.transit {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.font {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}

// theme

h1#page-title {
  .font;
  font-size: 40px;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

h2, h3, h4 {
  .font;
}

body {
  color: #404040;
  line-height: 22px;
  font-size: 15px;
  .font;
  #header {
    position: relative;
    #header-top {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
      height: 75px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      background: #fff;
      #header-top-inner {
        text-align: center;
        margin: 0 auto;
        float: none;
        display: block;
        a#logo {
          float: none;
          padding: 0;
          position: relative;
          z-index: 2;
          img {
            margin-top: 10px;
          }
        }
        #navbutton {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 14px;
          height: 14px;
          background: url(../images/navbutton.png) no-repeat center center;
          cursor: pointer;
          .transit;
          transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          &.open {
            transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
        #navigation {
          h2 {
            display: none;
          }
          ul {
            position: absolute;
            right: 10px;
            width: 120px;
            background: rgba(255, 255, 255, 0.9);
            padding: 0;
            border: 1px solid #ccc;
            &:before {
              position: absolute;
              content: "";
              top: -20px;
              right: 15px;
              border-top: 10px solid transparent;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #ccc;
            }
            li {
              padding: 0;
              a {
                padding: 10px 30px;
                display: block;
                border-bottom: 1px dashed #ccc;
                font-size: 16px;
                color: #404040;
                &:hover, &.active {
                  color: #fff;
                  background: @blue;
                  text-decoration: none;
                }
              }
              &.last {
                a {
                  border-bottom: none;
                }
              }
            }
          }
        }
        .region-header-top {
          #block-menu-block-1 {
            display: none;
          }
          #block-superfish-1 {
            margin-top: -40px;
            ul#superfish-1 {
              text-align: center;
              width: 100%;
              margin-left: 27px;
              > li {
                display: inline-block;
                margin: 0 20px;
                float: none;
                &:nth-child(3) {
                  margin-right: 200px;
                  > ul {
                    margin-left: -38px;
                  }
                }
                > a {
                  display: block;
                  color: #404040;
                  .font;
                  font-size: 18px;
                  &:hover {
                    color: @blue;
                    text-decoration: none;
                  }
                }
                > ul {
                  width: 120px !important;
                  background: rgba(255, 255, 255, 0.9);
                  padding: 0;
                  border: 1px solid #ccc;
                  margin-left: -32px;
                  &:before {
                    position: absolute;
                    content: "";
                    top: -20px;
                    left: 50px;
                    border-top: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #ccc;
                  }
                  > li {
                    > a {
                      padding: 10px 30px;
                      display: block;
                      border-bottom: 1px dashed #ccc;
                      font-size: 16px;
                      color: #404040;
                      &:hover, &.active {
                        color: #fff;
                        background: @blue;
                        text-decoration: none;
                      }
                    }
                    &.last, &.firstandlast {
                      a {
                        border-bottom: none;
                      }
                    }
                    > ul {
                      > li {
                        > a {

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #header-middle {
      margin-top: 75px;
      height: 679px;
      background: url(../images/bg-header-middle-front.jpg) no-repeat center center;
      background-size: cover;
      #header-middle-inner {
        display: block;
        float: none;
        #block-block-8 {
          text-align: center;
          margin: 50px 0;
          background: url(../images/dcl-banner-front.png) no-repeat center top;
          padding-top: 200px;
          .content {
            p {
              color: #fff;
              font-size: 25px;
              margin-bottom: 15px;
              &.bigtext {
                color: @orange;
                font-size: 46px;
                text-transform: uppercase;
              }
            }
          }
        }
        #block-block-5 {
          width: 49%;
          float: left;
          text-align: right;
          color: #fff;
          font-size: 25px;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
          line-height: 40px;
        }
        #block-block-6, #block-block-7, #block-views-leuven2013-sponsors-block-1 {
          width: 49%;
          float: right;
        }
        #block-block-6, #block-block-7 {
          .content {
            p {
              a {
                color: #fff;
                font-size: 28px;
                background: @orange;
                padding: 5px 30px;
                text-align: center;
                border-radius: 4px;
                &:hover {
                  background: @blue;
                  text-decoration: none;
                }
              }
            }
          }
        }
        #block-block-6 {
          margin-top: 20px;
          margin-bottom: 10px;
        }
        #block-views-leuven2013-sponsors-block-1 {
          margin-top: 10px;
        }
      }
    }
    #header-bottom {
      #header-bottom-inner {
        .block {
          padding: 80px 5px 20px;
          h2 {
            text-align: center;
            font-size: 46px;
            color: #fff;
            font-weight: normal;
          }
          .content {
            font-size: 16px;
            text-align: justify;
            color: #fff;
          }
        }
        #header-bottom-left {
          background: url(../images/icon-learn.png) no-repeat center top;
          margin-top: 30px;
          opacity: 0.85;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        #header-bottom-middle {
          background: url(../images/icon-share.png) no-repeat center top;
          margin-top: 30px;
          opacity: 0.85;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        #header-bottom-right {
          background: url(../images/icon-involve.png) no-repeat center top;
          margin-top: 30px;
          opacity: 0.85;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  &.not-front {
    #header {
      #header-middle {
        background: @blue;
        height: auto;
      }
      #header-bottom {
        display: none;
      }
    }
  }
  &.front {
    #main-wrapper { // display: none;
    }
  }
}

// countdown

#counter {
  font-size: 24px !important;
  position: relative;
  background: @blue;
  padding: 10px 0;
  width: 44%;
  margin: 0 auto;
  border-radius: 4px;
  #cntdwn {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent !important;
    span {
      color: #fff;
    }
  }
}

.not-front {
  #cntdwn {
    display: none;
  }
}

// page program

.page-program {
  #page-wrapper {
    h1#page-title {
      width: 940px;
    }
    #main-wrapper {
      #content {
        width: 940px;
        position: relative;
        .tabs {
          clear: both;
          margin: 0 0 60px;
          position: relative;
          z-index: 5;
          > ul {
            background: none;
            padding: 0;
            text-align: center;
            width: 100%;
            li {
              margin: 0;
              padding: 0;
              display: inline-block;
              float: none;
              a {
                font-size: 22px;
                text-transform: uppercase;
                border-radius: 4px;
                &.active {
                  background: @blue;
                  position: relative;
                  &:after {
                    content: "";
                    position: absolute;
                    bottom: -16px;
                    left: 45%;
                    border-top: 8px solid @blue;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                  }
                }
              }
            }
          }
        }
      // .region-content {
        .view-sessions {
          #filterbox {
            font-size: 22px;
            text-align: right;
            padding-right: 30px;
            position: relative;
            margin-top: -77px;
            margin-bottom: 77px;
            #filterbutton {
              width: 30px;
              height: 30px;
              position: absolute;
              z-index: 9;
              right: 0;
              top: -3px;
              background: url(../images/submenubutton.png) no-repeat center center;
              cursor: pointer;
              opacity: 0.5;
              .transit;
              transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              &.open {
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
            }
          }
          .view-filters {
            background: #fff;
            padding: 10px 20px;
            margin: 10px 0 60px;
            border-radius: 4px;
            position: relative;
            .feed-icon {
              position: absolute;
              right: 15px;
              top: 0;
            }
            .views-exposed-form {
              .views-exposed-widget {
                width: 12.5%;
                padding: 0 2%;
                &.views-submit-button {
                  > input {
                    width: 100%;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
          .view-content {
            margin-bottom: 30px;
            .views-row {
              float: left;
              width: 46%;
              margin: 0 2% 50px;
              .views-label {
                float: left;
                margin-right: 5px;
              }
              .views-field-title {
                font-size: 30px;
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #ddd;
              }
              .views-field-body {
                font-size: 18px;
              }
              .views-field-picture {
                float: left;
                margin-right: 20px;
                img {
                  border-radius: 4px;
                }
              }
              .views-field-field-speakers {
                font-size: 20px;
                margin-bottom: 15px;
              }
            }
          }
        }
      // }
      }
      #sidebar-second {
        width: 940px;
        margin-top: 60px;
        .block {
          width: 29%;
          float: left;
          margin-left: 1%;
          margin-right: 1%;
          padding: 10px 1%;
          border-radius: 4px;
          h2 {
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
          }
          &#block-leuven2013-social-social-sidebar {
            width: 100%;
            float: left;
            clear: both;
            margin: 20px 0 30px 1%;
            text-align: center;
            background: none;
            border-radius: 0;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

// page speakers

.page-speakers {
  #page-wrapper {
    h1#page-title {
      width: 940px;
    }
    #main-wrapper {
      #content {
        width: 940px;
        position: relative;
        .view-speakers {
          .view-content {
            > .view-grouping {
              background: white;
              border: 1px solid #ddd;
              //width: 31%;
              margin: 0 10px 20px;
              float: left;
              .view-grouping-header {
                display: block;
                .user-picture {
                  a {
                    position: relative;
                    display: block;
                    &:hover {
                      &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: url(../images/icon-image-hover.png) no-repeat center center rgba(0,0,0,0.65);
                        opacity: 1;
                      }
                    }
                    img {
                      display: block;
                    }
                  }
                }
              }
              .view-grouping-content {
                display: block;
                padding: 0 20px;
                h3 {
                  margin-top: 0;
                  font-size: 26px;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 10px;
                  text-align: center;
                }
                ul {
                  margin-top: 0;
                  text-align: center;
                  padding: 0;
                  li {
                    list-style: none;
                    text-align: center;
                    display: inline-block;
                    padding: 0;
                    a {
                      padding: 0 5px;
                      margin: 0 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #sidebar-second {
        width: 940px;
        margin-top: 60px;
        .block {
          width: 29%;
          float: left;
          margin-left: 1%;
          margin-right: 1%;
          padding: 10px 1%;
          border-radius: 4px;
          h2 {
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
          }
          &#block-leuven2013-social-social-sidebar {
            width: 100%;
            float: left;
            clear: both;
            margin: 20px 0 30px 1%;
            text-align: center;
            background: none;
            border-radius: 0;
            padding-top: 15px;
          }
        }
      }
    }
  }
}


// MOBILE VERSION ---------------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width: 980px) {

  body {
    #header {
      #header-top {
        position: relative;
        #menubutton {
          width: 14px;
          height: 14px;
          position: absolute;
          left: 30px;
          top: 30px;
          background: url(../images/menubutton.png) no-repeat left top;
          cursor: pointer;
        }
        #header-top-inner {
          .region-header-top {
            #block-menu-block-1 {
              position: absolute;
              z-index: 9;
              left: 17px;
              display: none;
              top: 67px;
              .menu-block-wrapper {
                > ul {
                  width: 200px;
                  background: #fff;
                  padding: 0;
                  border: 1px solid #ccc;
                  margin-left: 0;
                  &:before {
                    position: absolute;
                    content: "";
                    top: -20px;
                    left: 10px;
                    border-top: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #ccc;
                  }
                  > li {
                    margin: 0;
                    padding: 0;
                    position: relative;
                    display: block;
                    > a {
                      padding: 10px 30px;
                      display: block;
                      border-bottom: 1px dashed #ccc;
                      font-size: 16px;
                      color: #404040;
                      &:hover, &.active {
                        color: #fff;
                        background: @blue;
                        text-decoration: none;
                      }
                    }
                    #submenubutton {
                      position: absolute;
                      right: 15px;
                      top: 6px;
                      width: 30px;
                      height: 30px;
                      background: url(../images/submenubutton.png) no-repeat center center;
                      cursor: pointer;
                      opacity: 0.5;
                      .transit;
                      transform: rotate(0deg);
                      -ms-transform: rotate(0deg);
                      -webkit-transform: rotate(0deg);
                      &.open {
                        transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                      }
                    }
                    > ul {
                      width: 200px;
                      background: #ccc;
                      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
                      padding: 0;
                      margin-left: 0;
                      > li {
                        margin: 0;
                        padding: 0;
                        > a {
                          padding: 10px 30px;
                          display: block;
                          border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                          font-size: 16px;
                          color: #404040;
                          &:hover, &.active {
                            color: #fff;
                            background: @blue;
                            text-decoration: none;
                          }
                        }
                      }
                    }
                    &.last, &.firstandlast {
                      a {
                        border-bottom: none;
                      }
                    }
                  }
                }
              }
            }
            #block-superfish-1 {
              display: none;
            }
          }
        }
      }
      #header-middle {
        margin-top: 0;
        #header-middle-inner {
          #block-block-5, #block-block-6, #block-block-7, #block-views-leuven2013-sponsors-block-1 {
            width: 90%;
            text-align: center;
            float: none;
          }
          #block-block-8 {
            background-size: 80%;
            padding-top: 120px;
            margin-top: 0;
            .content {
              p {
                font-size: 20px;
                &.bigtext {
                  font-size: 28px;
                }
              }
              #counter {
                width: 90%;
                font-size: 18px !important;
              }
            }
          }
          #block-block-5 {
            line-height: 25px;
            font-size: 20px;
            text-shadow: none;
            margin: 0 5% 40px;
          }
          #block-block-6, #block-block-7 {
            margin-left: 5%;
            .content {
              p {
                a {
                  font-size: 20px;
                }
              }
            }
          }
          #block-views-leuven2013-sponsors-block-1 {
            margin-left: 5%;
          }
        }
      }
    }
  }

// page program
  .page-program, .page-speakers {
    #page-wrapper {
      h1#page-title {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
      #main-wrapper {
        #content {
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          .tabs {
            > ul {
              li {
                a {
                  font-size: 18px;
                }
              }
            }
          }
          .view-sessions {
            #filterbox {
              margin-top: -30px;
              margin-bottom: 30px;
            }
            .view-filters {
              .views-exposed-form {
                .views-exposed-widget {
                  width: 96%;
                }
              }
            }
            .view-content {
              .views-row {
                width: 96%;
                margin: 0 2% 30px;
                .views-label {
                }
                .views-field-title {
                }
              }
            }
          }
        }
        #sidebar-second {
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
        }
      }
    }
  }

}

