@import "../../g_raph_/css/12cols.css";

@import "../../g_raph_/css/html5reset.css";

@import "../../g_raph_/css/regions.css";

@import "../../g_raph_/css/styleguide.css";

@import "./kevin.css";
@font-face {
  font-family: proxima_nova_excn_ltlight;
  font-style: normal;
  font-weight: normal;
  src: url('../font/proximanovaexcn-light-webfont.eot');
  src: url('../font/proximanovaexcn-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanovaexcn-light-webfont.woff') format('woff'), url('../font/proximanovaexcn-light-webfont.ttf') format('truetype'), url('../font/proximanovaexcn-light-webfont.svg#league_gothicregular') format('svg');
}
.transit {
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -ms-transform 0.2s ease-in-out;
  -moz-transition: -ms-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
}
.font {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
h1#page-title {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
  font-size: 40px;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}
h2,
h3,
h4 {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
body {
  color: #404040;
  line-height: 22px;
  font-size: 15px;
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
body #header {
  position: relative;
}
body #header #header-top {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 75px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: #fff;
}
body #header #header-top #header-top-inner {
  text-align: center;
  margin: 0 auto;
  float: none;
  display: block;
}
body #header #header-top #header-top-inner a#logo {
  float: none;
  padding: 0;
  position: relative;
  z-index: 2;
}
body #header #header-top #header-top-inner a#logo img {
  margin-top: 10px;
}
body #header #header-top #header-top-inner #navbutton {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 14px;
  height: 14px;
  background: url(../images/navbutton.png) no-repeat center center;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -ms-transform 0.2s ease-in-out;
  -moz-transition: -ms-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
body #header #header-top #header-top-inner #navbutton.open {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body #header #header-top #header-top-inner #navigation h2 {
  display: none;
}
body #header #header-top #header-top-inner #navigation ul {
  position: absolute;
  right: 10px;
  width: 120px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border: 1px solid #ccc;
}
body #header #header-top #header-top-inner #navigation ul:before {
  position: absolute;
  content: "";
  top: -20px;
  right: 15px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
body #header #header-top #header-top-inner #navigation ul li {
  padding: 0;
}
body #header #header-top #header-top-inner #navigation ul li a {
  padding: 10px 30px;
  display: block;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  color: #404040;
}
body #header #header-top #header-top-inner #navigation ul li a:hover,
body #header #header-top #header-top-inner #navigation ul li a.active {
  color: #fff;
  background: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner #navigation ul li.last a {
  border-bottom: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 {
  margin-top: -40px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 {
  text-align: center;
  width: 100%;
  margin-left: 27px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li {
  display: inline-block;
  margin: 0 20px;
  float: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li:nth-child(3) {
  margin-right: 200px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li:nth-child(3) > ul {
  margin-left: -38px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a {
  display: block;
  color: #404040;
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
  font-size: 18px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a:hover {
  color: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul {
  width: 120px !important;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border: 1px solid #ccc;
  margin-left: -32px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul:before {
  position: absolute;
  content: "";
  top: -20px;
  left: 50px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a {
  padding: 10px 30px;
  display: block;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  color: #404040;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a:hover,
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a.active {
  color: #fff;
  background: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li.last a,
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li.firstandlast a {
  border-bottom: none;
}
body #header #header-middle {
  height: 679px;
  background: url(../images/bg-header-middle-front.jpg) no-repeat center center;
  background-size: cover;
}
body #footer #footer-bottom {
  margin: 0 auto;
}
body.not-front #header #header-middle {
  height: 195px;
  background: url(../images/dcl-banner.png) no-repeat center bottom #3993c0;
  cursor: pointer;
}
body.front #main-wrapper {
  display: none;
}
@media only screen and (max-width: 740px) {
  body #header #header-top #menubutton {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 30px;
    top: 30px;
    background: url(../images/menubutton.png) no-repeat left top;
    cursor: pointer;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 {
    position: absolute;
    z-index: 9;
    left: 20px;
    display: none;
    top: 106px;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 {
    width: 120px !important;
    background: rgba(255, 255, 255, 0.9);
    padding: 0;
    border: 1px solid #ccc;
    margin-left: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1:before {
    position: absolute;
    content: "";
    top: -20px;
    left: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li {
    margin: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a {
    padding: 10px 30px;
    display: block;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
    color: #404040;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a:hover,
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a.active {
    color: #fff;
    background: #3993c0;
    text-decoration: none;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li:nth-child(3) {
    margin: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li.last a,
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li.firstandlast a {
    border-bottom: none;
  }
}
