@import "../../g_raph_/css/12cols.css";

@import "../../g_raph_/css/html5reset.css";

@import "../../g_raph_/css/regions.css";

@import "../../g_raph_/css/styleguide.css";

@import "./kevin.css";
@font-face {
  font-family: proxima_nova_excn_ltlight;
  font-style: normal;
  font-weight: normal;
  src: url('../font/proximanovaexcn-light-webfont.eot');
  src: url('../font/proximanovaexcn-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanovaexcn-light-webfont.woff') format('woff'), url('../font/proximanovaexcn-light-webfont.ttf') format('truetype'), url('../font/proximanovaexcn-light-webfont.svg#league_gothicregular') format('svg');
}
.transit {
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -ms-transform 0.2s ease-in-out;
  -moz-transition: -ms-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
}
.font {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
h1#page-title {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
  font-size: 40px;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}
h2,
h3,
h4 {
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
body {
  color: #404040;
  line-height: 22px;
  font-size: 15px;
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
}
body #header {
  position: relative;
}
body #header #header-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 75px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: #fff;
}
body #header #header-top #header-top-inner {
  text-align: center;
  margin: 0 auto;
  float: none;
  display: block;
}
body #header #header-top #header-top-inner a#logo {
  float: none;
  padding: 0;
  position: relative;
  z-index: 2;
}
body #header #header-top #header-top-inner a#logo img {
  margin-top: 10px;
}
body #header #header-top #header-top-inner #navbutton {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 14px;
  height: 14px;
  background: url(../images/navbutton.png) no-repeat center center;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -ms-transform 0.2s ease-in-out;
  -moz-transition: -ms-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
body #header #header-top #header-top-inner #navbutton.open {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body #header #header-top #header-top-inner #navigation h2 {
  display: none;
}
body #header #header-top #header-top-inner #navigation ul {
  position: absolute;
  right: 10px;
  width: 120px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border: 1px solid #ccc;
}
body #header #header-top #header-top-inner #navigation ul:before {
  position: absolute;
  content: "";
  top: -20px;
  right: 15px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
body #header #header-top #header-top-inner #navigation ul li {
  padding: 0;
}
body #header #header-top #header-top-inner #navigation ul li a {
  padding: 10px 30px;
  display: block;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  color: #404040;
}
body #header #header-top #header-top-inner #navigation ul li a:hover,
body #header #header-top #header-top-inner #navigation ul li a.active {
  color: #fff;
  background: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner #navigation ul li.last a {
  border-bottom: none;
}
body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 {
  display: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 {
  margin-top: -40px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 {
  text-align: center;
  width: 100%;
  margin-left: 27px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li {
  display: inline-block;
  margin: 0 20px;
  float: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li:nth-child(3) {
  margin-right: 200px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li:nth-child(3) > ul {
  margin-left: -38px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a {
  display: block;
  color: #404040;
  font-family: proxima_nova_excn_ltlight, helvetica, arial, verdana;
  font-size: 18px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > a:hover {
  color: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul {
  width: 120px !important;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border: 1px solid #ccc;
  margin-left: -32px;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul:before {
  position: absolute;
  content: "";
  top: -20px;
  left: 50px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a {
  padding: 10px 30px;
  display: block;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  color: #404040;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a:hover,
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li > a.active {
  color: #fff;
  background: #3993c0;
  text-decoration: none;
}
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li.last a,
body #header #header-top #header-top-inner .region-header-top #block-superfish-1 ul#superfish-1 > li > ul > li.firstandlast a {
  border-bottom: none;
}
body #header #header-middle {
  margin-top: 75px;
  height: 679px;
  background: url(../images/bg-header-middle-front.jpg) no-repeat center center;
  background-size: cover;
}
body #header #header-middle #header-middle-inner {
  display: block;
  float: none;
}
body #header #header-middle #header-middle-inner #block-block-8 {
  text-align: center;
  margin: 50px 0;
  background: url(../images/dcl-banner-front.png) no-repeat center top;
  padding-top: 200px;
}
body #header #header-middle #header-middle-inner #block-block-8 .content p {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}
body #header #header-middle #header-middle-inner #block-block-8 .content p.bigtext {
  color: #ff9430;
  font-size: 46px;
  text-transform: uppercase;
}
body #header #header-middle #header-middle-inner #block-block-5 {
  width: 49%;
  float: left;
  text-align: right;
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  line-height: 40px;
}
body #header #header-middle #header-middle-inner #block-block-6,
body #header #header-middle #header-middle-inner #block-block-7,
body #header #header-middle #header-middle-inner #block-views-leuven2013-sponsors-block-1 {
  width: 49%;
  float: right;
}
body #header #header-middle #header-middle-inner #block-block-6 .content p a,
body #header #header-middle #header-middle-inner #block-block-7 .content p a {
  color: #fff;
  font-size: 28px;
  background: #ff9430;
  padding: 5px 30px;
  text-align: center;
  border-radius: 4px;
}
body #header #header-middle #header-middle-inner #block-block-6 .content p a:hover,
body #header #header-middle #header-middle-inner #block-block-7 .content p a:hover {
  background: #3993c0;
  text-decoration: none;
}
body #header #header-middle #header-middle-inner #block-block-6 {
  margin-top: 20px;
  margin-bottom: 10px;
}
body #header #header-middle #header-middle-inner #block-views-leuven2013-sponsors-block-1 {
  margin-top: 10px;
}
body #header #header-bottom #header-bottom-inner .block {
  padding: 80px 5px 20px;
}
body #header #header-bottom #header-bottom-inner .block h2 {
  text-align: center;
  font-size: 46px;
  color: #fff;
  font-weight: normal;
}
body #header #header-bottom #header-bottom-inner .block .content {
  font-size: 16px;
  text-align: justify;
  color: #fff;
}
body #header #header-bottom #header-bottom-inner #header-bottom-left {
  background: url(../images/icon-learn.png) no-repeat center top;
  margin-top: 30px;
  opacity: 0.85;
  cursor: pointer;
}
body #header #header-bottom #header-bottom-inner #header-bottom-left:hover {
  opacity: 1;
}
body #header #header-bottom #header-bottom-inner #header-bottom-middle {
  background: url(../images/icon-share.png) no-repeat center top;
  margin-top: 30px;
  opacity: 0.85;
  cursor: pointer;
}
body #header #header-bottom #header-bottom-inner #header-bottom-middle:hover {
  opacity: 1;
}
body #header #header-bottom #header-bottom-inner #header-bottom-right {
  background: url(../images/icon-involve.png) no-repeat center top;
  margin-top: 30px;
  opacity: 0.85;
  cursor: pointer;
}
body #header #header-bottom #header-bottom-inner #header-bottom-right:hover {
  opacity: 1;
}
body.not-front #header #header-middle {
  height: 110px;
  background: url(../images/dcl-banner.png) no-repeat center center #3993c0;
  background-size: contain;
  cursor: pointer;
}
body.not-front #header #header-bottom {
  display: none;
}
#counter {
  font-size: 24px !important;
  position: relative;
  background: #3993c0;
  padding: 10px 0;
  width: 44%;
  margin: 0 auto;
  border-radius: 4px;
}
#counter #cntdwn {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent !important;
}
#counter #cntdwn span {
  color: #fff;
}
.not-front #cntdwn {
  display: none;
}
.page-program #page-wrapper h1#page-title {
  width: 940px;
}
.page-program #page-wrapper #main-wrapper #content {
  width: 940px;
  position: relative;
}
.page-program #page-wrapper #main-wrapper #content .tabs {
  clear: both;
  margin: 0 0 60px;
  position: relative;
  z-index: 5;
}
.page-program #page-wrapper #main-wrapper #content .tabs > ul {
  background: none;
  padding: 0;
  text-align: center;
  width: 100%;
}
.page-program #page-wrapper #main-wrapper #content .tabs > ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
}
.page-program #page-wrapper #main-wrapper #content .tabs > ul li a {
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 4px;
}
.page-program #page-wrapper #main-wrapper #content .tabs > ul li a.active {
  background: #3993c0;
  position: relative;
}
.page-program #page-wrapper #main-wrapper #content .tabs > ul li a.active:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 45%;
  border-top: 8px solid #3993c0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions #filterbox {
  font-size: 22px;
  text-align: right;
  padding-right: 30px;
  position: relative;
  margin-top: -77px;
  margin-bottom: 77px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions #filterbox #filterbutton {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9;
  right: 0;
  top: -3px;
  background: url(../images/submenubutton.png) no-repeat center center;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -ms-transform 0.2s ease-in-out;
  -moz-transition: -ms-transform 0.2s ease-in-out;
  transition: -ms-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.page-program #page-wrapper #main-wrapper #content .view-sessions #filterbox #filterbutton.open {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-filters {
  background: #fff;
  padding: 10px 20px;
  margin: 10px 0 60px;
  border-radius: 4px;
  position: relative;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-filters .feed-icon {
  position: absolute;
  right: 15px;
  top: 0;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-filters .views-exposed-form .views-exposed-widget {
  width: 12.5%;
  padding: 0 2%;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-filters .views-exposed-form .views-exposed-widget.views-submit-button > input {
  width: 100%;
  border-radius: 4px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content {
  margin-bottom: 30px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row {
  float: left;
  width: 46%;
  margin: 0 2% 50px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-label {
  float: left;
  margin-right: 5px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-field-title {
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-field-body {
  font-size: 18px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-field-picture {
  float: left;
  margin-right: 20px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-field-picture img {
  border-radius: 4px;
}
.page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row .views-field-field-speakers {
  font-size: 20px;
  margin-bottom: 15px;
}
.page-program #page-wrapper #main-wrapper #sidebar-second {
  width: 940px;
  margin-top: 60px;
}
.page-program #page-wrapper #main-wrapper #sidebar-second .block {
  width: 29%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px 1%;
  background: #f5f5f5;
  border-radius: 4px;
}
.page-program #page-wrapper #main-wrapper #sidebar-second .block h2 {
  margin-bottom: 20px;
}
.page-program #page-wrapper #main-wrapper #sidebar-second .block#block-views-leuven2013-sponsors-block-6 {
  width: 95%;
  margin: 0 0 30px 1%;
  text-align: center;
}
@media only screen and (max-width: 980px) {
  body #header #header-top {
    position: relative;
  }
  body #header #header-top #menubutton {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 30px;
    top: 30px;
    background: url(../images/menubutton.png) no-repeat left top;
    cursor: pointer;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 {
    position: absolute;
    z-index: 9;
    left: 17px;
    display: none;
    top: 67px;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul {
    width: 200px;
    background: #fff;
    padding: 0;
    border: 1px solid #ccc;
    margin-left: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul:before {
    position: absolute;
    content: "";
    top: -20px;
    left: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > a {
    padding: 10px 30px;
    display: block;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
    color: #404040;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > a:hover,
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > a.active {
    color: #fff;
    background: #3993c0;
    text-decoration: none;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li #submenubutton {
    position: absolute;
    right: 15px;
    top: 6px;
    width: 30px;
    height: 30px;
    background: url(../images/submenubutton.png) no-repeat center center;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -ms-transform 0.2s ease-in-out;
    -moz-transition: -ms-transform 0.2s ease-in-out;
    transition: -ms-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li #submenubutton.open {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > ul {
    width: 200px;
    background: #ccc;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
    padding: 0;
    margin-left: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > ul > li {
    margin: 0;
    padding: 0;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > ul > li > a {
    padding: 10px 30px;
    display: block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #404040;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > ul > li > a:hover,
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li > ul > li > a.active {
    color: #fff;
    background: #3993c0;
    text-decoration: none;
  }
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li.last a,
  body #header #header-top #header-top-inner .region-header-top #block-menu-block-1 .menu-block-wrapper > ul > li.firstandlast a {
    border-bottom: none;
  }
  body #header #header-top #header-top-inner .region-header-top #block-superfish-1 {
    display: none;
  }
  body #header #header-middle {
    margin-top: 0;
  }
  body #header #header-middle #header-middle-inner #block-block-5,
  body #header #header-middle #header-middle-inner #block-block-6,
  body #header #header-middle #header-middle-inner #block-block-7,
  body #header #header-middle #header-middle-inner #block-views-leuven2013-sponsors-block-1 {
    width: 90%;
    text-align: center;
    float: none;
  }
  body #header #header-middle #header-middle-inner #block-block-8 {
    background-size: 80%;
    padding-top: 120px;
    margin-top: 0;
  }
  body #header #header-middle #header-middle-inner #block-block-8 .content p {
    font-size: 20px;
  }
  body #header #header-middle #header-middle-inner #block-block-8 .content p.bigtext {
    font-size: 28px;
  }
  body #header #header-middle #header-middle-inner #block-block-8 .content #counter {
    width: 90%;
    font-size: 18px !important;
  }
  body #header #header-middle #header-middle-inner #block-block-5 {
    line-height: 25px;
    font-size: 20px;
    text-shadow: none;
    margin: 0 5% 40px;
  }
  body #header #header-middle #header-middle-inner #block-block-6,
  body #header #header-middle #header-middle-inner #block-block-7 {
    margin-left: 5%;
  }
  body #header #header-middle #header-middle-inner #block-block-6 .content p a,
  body #header #header-middle #header-middle-inner #block-block-7 .content p a {
    font-size: 20px;
  }
  body #header #header-middle #header-middle-inner #block-views-leuven2013-sponsors-block-1 {
    margin-left: 5%;
  }
  .page-program #page-wrapper h1#page-title {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page-program #page-wrapper #main-wrapper #content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page-program #page-wrapper #main-wrapper #content .tabs > ul li a {
    font-size: 18px;
  }
  .page-program #page-wrapper #main-wrapper #content .view-sessions #filterbox {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .page-program #page-wrapper #main-wrapper #content .view-sessions .view-filters .views-exposed-form .views-exposed-widget {
    width: 96%;
  }
  .page-program #page-wrapper #main-wrapper #content .view-sessions .view-content .views-row {
    width: 96%;
    margin: 0 2% 30px;
  }
  .page-program #page-wrapper #main-wrapper #sidebar-second {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
