.front {
  #header {
    #header-middle {
      #header-middle-inner {
        .view-leuven2013-sponsors {
          .view-empty {
            text-align: left;
          }
        }
      }
    }
  }
}
#header {
  #header-middle {
    #header-middle-inner {
      margin: 0 auto;
      max-width: 960px;
      width: 100%;
    }
  }
  #header-bottom {
    background: #3993c0; // @blue
    #header-bottom-inner {
      margin: 0 auto;
      max-width: 960px;
      width: 100%;
    }
  }
}
#preface-wrapper {
  background: #fff;
  -webkit-box-shadow: inset 0px 11px 8px -5px #CCC, inset 0px -11px 8px -5px #ddd;
     -moz-box-shadow: inset 0px 11px 8px -5px #CCC, inset 0px -11px 8px -5px #ddd;
          box-shadow: inset 0px 11px 8px -5px #CCC, inset 0px -11px 8px -5px #ddd;
  #preface-inner {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    #preface-top {
      margin: 25px auto;
    }
  }
}
#footer {
  background: #282828;
  #footer-inner {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    #footer-bottom {
      .sponsor-bronze-footer {
        display: inline-block;
        margin-bottom: 15px;
        img {
          -webkit-filter: grayscale(1) contrast(0.5) blur(0.25px);    /* Google Chrome & Safari 6+ */
                  filter: url(filters.svg#grayscale);                         /* Firefox 3.5+ */
                  filter: gray;                                               /* IE6-9 */
          &:hover {
            -webkit-filter: grayscale(0) blur(0) contrast(1);
                    filter:none;
          }
        }
      }
    }
  }
}
#sidebar-second {
  .block {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    h2 {
      border: none;
      text-align: center;
    }
    .view-leuven2013-sponsors {
      .view-empty {
        a {
          font-size: 16px;
        }
      }
    }
    // img {
    //   border-radius: 15px;
    // }
  }
}

.view-leuven2013-sponsors {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
  .view-empty {
    text-align: center;
    margin: 0 0 10px 0;
    a {
      color: #fff;
      font-size: 28px;
      background: @orange;
      padding: 5px 30px;
      text-align: center;
      border-radius: 4px;
    }
  }
}
#block-views-leuven2013-sponsors-block-10, 
#block-views-leuven2013-sponsors-block-11, 
#block-views-leuven2013-sponsors-block-12, 
#block-views-leuven2013-sponsors-block-13 {
  clear: both;
  float: none;
  width: 100%;
}
// Sponsor Layout #1
// .view-leuven2013-sponsors {
//   .sponsor-overview-gold {
//     .field-name-field-sponsor-body {
//       padding: 15px 0 0 25px;
//       p {
//         margin: 0;
//       }
//     }
//   }
//   .sponsor-overview-silver, .sponsor-overview-bronze, .sponsor-overview-activity {
//     float: left;
//     width: 33%;
//     .node-sponsor {
//       padding: 0 10px;
//     }
//   }
// }
// Sponsor Layout #2
#content {
  .view-leuven2013-sponsors {
    .sponsor-inline-title {
      float: left;
      line-height: 1em;
      margin: 0 5px 0 0;
      vertical-align: top;
    }
    .sponsor-overview-silver {
      .sponsor-inline-title {
        padding: 15px 0 0 25px;
      }
      .field-name-field-sponsor-body {
        padding: 15px 0 0 25px;
        p {
          margin: 0;
        }
      }
    }
    .sponsor-overview-bronze, .sponsor-overview-activity {
      float: left;
      width: 33%;
      .node-sponsor {
        padding: 0 10px;
      }
    }
  }
}

ul.call-to-action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 25px 0;
    a {
      color: #fff;
      font-size: 28px;
      background: @orange;
      padding: 5px 30px;
      text-align: center;
      border-radius: 4px;
      &:hover {
        background: @blue;
        text-decoration: none;
      }
    }
  }
}
.not-front {
  #header-middle {
    #header-middle-inner {
      clear: both;
      overflow: hidden;
      #block-leuven2013-general-banner-to-frontpage {
        a.frontpage-banner-link {
          background: url('../images/dcl-banner.png') no-repeat center center;
          display: block;
          height: 110px;
          text-indent: -9999px;

        }
      }
      #block-views-leuven2013-sponsors-block-1 {
        &.col6 {
          width: 460px !important;
        }
        margin-top: 0 !important;
        a {
          display: block;
          height: 110px;
          line-height: 110px;
          text-align: center;
          vertical-align: middle;
          img {
            vertical-align: middle;
            width: 326px;
          }
        }
      }
    }
  }
}
.node-sponsor {
  .field-name-sponsor-level-rendered {
    .sponsor-level-rendered {
      font-size: 2em;
      text-align: center;
    }
  }
}

.how-to-propose-session-step {
  margin: 8px 0;
  .how-to-propose-session-step-count {
    background: @blue;
    border-radius: 5px 20px 5px;
    color: #FFF;
    display: inline-block;
    font-size: 1.8em;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }
}

#block-views-leuven2013-news-block {
  .view-leuven2013-news {
    margin-left: 0;
  }
}
#block-views-leuven2013-news-block-2 {
  .view-leuven2013-news {
    margin-right: 0;
  }
}
.view-leuven2013-news {
  img {
    border-radius: 5px 20px 5px;
    box-shadow: 3px 3px 3px #aaa;
  }
  .field-name-post-date {
    color: #888;
    float: right;
    font-size: 0.9em;
    margin-top: 0;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 959px) {
  #block-views-leuven2013-news-block, #block-views-leuven2013-news-block-2 {
    .view-leuven2013-news {
      margin: 0;
    }
  }
  #preface-wrapper {
    #preface-inner {
      #preface-top {
        margin-bottom: 25px;
        margin-top: 25px;
      }
    }
  }
  .sponsor-silver, .field-type-image {
    text-align: center;
  }
  #content {
    .view-leuven2013-sponsors {
      .sponsor-overview-bronze, .sponsor-overview-activity {
        width: 50%;
      }
      .sponsor-overview-silver {
        .field-name-field-sponsor-body, .sponsor-inline-title {
          padding: 0;
        }
      }
    }
  }
  .ds-2col > .group-left, .ds-2col > .group-right {
    width: 100%;
  }

  #content .view-leuven2013-sponsors 
  .col12 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col11 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col10 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col8 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col7 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col6 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col5 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col4 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col3 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
