#header #header-middle #header-middle-inner {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
#header #header-bottom {
  background: #3993c0;
}
#header #header-bottom #header-bottom-inner {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
#preface-wrapper {
  background: #fff;
}
#preface-wrapper #preface-inner {
  float: none;
  display: block;
  margin: 15px auto;
  max-width: 960px;
  width: 100%;
}
#footer {
  background: #282828;
}
#footer #footer-inner {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
#footer #footer-inner .sponsor-bronze-footer {
  display: inline-block;
  margin: 1%;
  width: 30%;
}
#sidebar-second .block {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
#sidebar-second .block h2 {
  text-align: center;
}
.view-leuven2013-sponsors ul {
  margin: 0;
  padding: 0;
}
.view-leuven2013-sponsors ul li {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}
.view-leuven2013-sponsors ul li img {
  width: 100%;
}
