/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.node .content img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.block-tweets-block ul li .views-field-profile-image-url {
  float: left;
  margin: 0 1em 0 0;
}