/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: url('../img/bg_pattern.png') repeat;
}

.content ul li {
  margin-left: 30px;
}

.node .content img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.region-sidebar-second .block, .region-content {
  background: white;
  padding: 1.5em 1.5em 1.5em 0;
  border: 1px solid lightGrey;
  box-sizing: border-box;
}

.block-tweets-block ul li {
  border-bottom: 1px solid lightGrey;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.block-tweets-block ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.block-tweets-block ul li .views-field-profile-image-url {
  float: left;
  margin: 0 1em 0 0;
}