#sidebar-second .block .social-icon {
  display: inline-block;
  height: 85px;
  margin-right: 15px;
  width: 85px;
}
#sidebar-second .block .social-icon.icon-twitter {
  background: url('../images/icon_twitter.png') no-repeat 0 0;
}
#sidebar-second .block .social-icon:hover {
  background-position-y: -87px;
}
#sidebar-second .block .social-icon.icon-facebook {
  background: url('../images/icon_facebook.png') no-repeat 0 0;
}
#sidebar-second .block .social-icon.icon-drupalorg {
  background: url('../images/icon_drupalorg.png') no-repeat 0 0;
  margin-right: 0;
}
#sidebar-second .block .social-icon a {
  display: inline-block;
  height: 85px;
  margin-right: 15px;
  text-indent: -9999px;
  width: 85px;
}
#sidebar-second .block#block-leuven2013-social-social-sidebar {
  margin: 30px auto;
  text-align: center;
  width: 100%;
}